{{- $sameAs := slice -}}
{{- $personID := printf "%s#person" .Site.BaseURL -}}
{{- $websiteID := printf "%s#website" .Site.BaseURL -}}
{{- $isPaginatedHome := and .IsHome (gt .Paginator.PageNumber 1) -}}
{{- $isPrimaryHome := and .IsHome (not $isPaginatedHome) -}}
{{- range .Site.Params.social -}}
  {{- if .url -}}
    {{- $sameAs = $sameAs | append .url -}}
  {{- end -}}
{{- end -}}

{{- $description := "" -}}
{{- if .IsHome -}}
  {{- $description = .Site.Params.seo.personDescription | default .Site.Params.description -}}
{{- else if .Description -}}
  {{- $description = .Description -}}
{{- else if .Summary -}}
  {{- $description = .Summary | plainify | htmlUnescape | chomp -}}
{{- else -}}
  {{- $description = .Site.Params.description -}}
{{- end -}}

{{- $image := .Site.Params.og_image -}}
{{- $pageImage := .Params.image -}}
{{- if not $pageImage -}}
  {{- with .Params.images -}}
    {{- $pageImage = index . 0 -}}
  {{- end -}}
{{- end -}}
{{- with $pageImage -}}
  {{- $first := . -}}
  {{- if hasPrefix $first "http://" -}}
    {{- $image = $first -}}
  {{- else if hasPrefix $first "https://" -}}
    {{- $image = $first -}}
  {{- else -}}
    {{- $image = absURL $first -}}
  {{- end -}}
{{- end -}}

{{- if or $isPrimaryHome (eq .RelPermalink "/about/") -}}
<script type="application/ld+json">
{{ dict
  "@context" "https://schema.org"
  "@type" "Person"
  "@id" $personID
  "name" .Site.Params.author
  "url" .Site.BaseURL
  "description" $description
  "jobTitle" "Data Science Architect"
  "worksFor" (dict "@type" "Organization" "name" "CleverTap" "url" "https://clevertap.com/")
  "knowsAbout" (slice "data science" "machine learning" "experimentation" "vector databases" "applied AI")
  "sameAs" $sameAs
| jsonify | safeJS }}
</script>
{{- end -}}

{{- if $isPrimaryHome -}}
<script type="application/ld+json">
{{ dict
  "@context" "https://schema.org"
  "@type" "WebSite"
  "@id" $websiteID
  "name" .Site.Title
  "url" .Site.BaseURL
  "description" $description
  "inLanguage" .Site.Language.Lang
| jsonify | safeJS }}
</script>
{{- end -}}

{{- if eq .RelPermalink "/about/" -}}
<script type="application/ld+json">
{{ dict
  "@context" "https://schema.org"
  "@type" "ProfilePage"
  "mainEntity" (dict "@id" $personID)
  "name" .Title
  "url" .Permalink
  "inLanguage" .Site.Language.Lang
| jsonify | safeJS }}
</script>
{{- end -}}

{{- if eq .Section "posts" -}}
<script type="application/ld+json">
{{ dict
  "@context" "https://schema.org"
  "@type" "BlogPosting"
  "headline" .Title
  "description" $description
  "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")
  "dateModified" ((.Lastmod | default .Date).Format "2006-01-02T15:04:05Z07:00")
  "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
  "url" .Permalink
  "image" (slice $image)
  "inLanguage" .Site.Language.Lang
  "author" (dict "@type" "Person" "name" .Site.Params.author "url" .Site.BaseURL)
  "publisher" (dict "@type" "Person" "name" .Site.Params.author "url" .Site.BaseURL)
| jsonify | safeJS }}
</script>
{{- end -}}
